/* .form-container {
    margin: 30px 150px;
} */

.login-bg {
  background: url(../../../img/loginbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.form-container input {
  display: block;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 300px;
  transition: 0.3s;
}

.field {
  background-color: rgb(227, 242, 255);
}

.form-container input:hover {
  box-shadow: 5px 5px 10px gray;
}

.auth-btn {
  width: 300px;
}

.error {
  color: red;
}

.link-text {
  color: #d9376e;
  text-decoration: none;
  transition: 0.3s;
}

.link-text:hover {
  color: #d9376e;
  font-size: 24px;
  box-shadow: 2px 2px 4px gray;
}
